*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;

    /* min-height: 100vh;  */
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #034C8C;
    height: 100px;

}

a{
    color: azure;
    text-decoration: none;
    padding-bottom: 5px;
    margin-left: 20px;
    background-color: #034C8C;
    border-bottom: 2px solid transparent;
    border-bottom-width: 8px;
}

a:hover{
    color: #04B2D9;
    border-bottom: 2px solid #04B2D9;

}



.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
}

svg{
    margin: auto;
    margin-bottom: 1rem;
}

h1{
    margin: auto;
    font-size: 2rem;
}


p{
    padding: 0rem;
    margin: auto;

}

.wraper{
    margin-top: 3rem;
    width: 400px;
    border-radius: 5px;
    
    padding: 2rem;
    background-color: #f7f6f6;
    box-shadow: 0px 8px 16px rgba(49, 49, 49, 0.25);



}

input{
    width: 100%;
    height: 40px;
    background-color: #f7f6f6;
    border: none;
    margin-top: 1rem;
    box-shadow: none;
    padding-left: 10px;
    border-bottom: 2px solid #049DD9;
 

}

input:valid{
    border-color: #049DD9;
    background-color: rgb(186, 241, 250);
}


label {
    position: absolute;
    top: 15px;
    left: 5px;
    color: #ccc;
    transition: 0.3s;
    background-color: none;
}

input:focus  + label,
input:valid + label {
    color: #049DD9;
    top: -10px; /* Mueve el label arriba cuando está en foco */
    font-size: 12px; /* Hace más pequeño el texto del label */
}

input:focus{
    border-color: #049DD9;
    background-color: rgb(224, 239, 241);
    outline: none;
}



button{
    margin-top: 1rem;
    width: 100%;
    border-radius: 4px;
    height: 40px;
    background-color: #049DD9;
    border-color: aliceblue;
    color: white;
    font-weight: 500;
    font-size: medium;

}

button:hover{
    background-color: rgb(147, 204, 236);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

